[Unit]
Description=ElasticSearch Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
User=jack
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/etcdctl setdir /services/elasticsearch/${COREOS_PUBLIC_IPV4}
ExecStartPre=-/usr/bin/mkdir -p ${LOCAL_DISK1}/elasticsearch/config/scripts
ExecStartPre=-/bin/sh -c '/usr/bin/echo "network.host: 0.0.0.0" > ${LOCAL_DISK1}/elasticsearch/config/elasticsearch.yml'
ExecStartPre=-/bin/sh -c '/usr/bin/echo "discovery.zen.ping.unicast.hosts: [ $(/usr/bin/etcdctl ls /services/elasticsearch | cut -c25- | sed s/^/\",\"/ | xargs | cut -c2-) ]" >> ${LOCAL_DISK1}/elasticsearch/config/elasticsearch.yml' 
ExecStartPre=-/usr/bin/mkdir -p ${LOCAL_DISK1}/elasticsearch/data
ExecStartPre=-/usr/bin/mkdir -p ${LOCAL_DISK1}/elasticsearch/log
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStart=/bin/sh -c '/usr/bin/docker run --name elasticsearch \
                      -v ${LOCAL_DISK1}/elasticsearch/data:/usr/share/elasticsearch/data \
                      -v ${LOCAL_DISK1}/elasticsearch/config:/usr/share/elasticsearch/config \
                      -v ${LOCAL_DISK1}/elasticsearch/log:/usr/share/elasticsearch/log \
                      -p 9200:9200 -p 9300:9300 ${COREOS_REGISTRY}/elasticsearch \
                      -Des.node.name=${COREOS_PUBLIC_IPV4} \
                      -Des.cluster.name=es-cluster '
ExecStop=/usr/bin/etcdctl rmdir /services/elasticsearch/${COREOS_PUBLIC_IPV4} 
ExecStopPost=/usr/bin/docker rm -f elasticsearch


[X-Fleet]
Global=true
MachineMetadata=disk1=true